* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Lightgray: hsl(212, 45%, 89%);
  --Grayishblue: hsl(220, 15%, 55%);
  --Darksblue: hsl(218, 44%, 22%);
}
body {
  font-family: "Outfit", sans-serif;
  background: var(--Lightgray);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.qr-card {
  width: 375px;
  margin: 0 auto;
  margin-top: 10em;
  background: var(--White);
  padding: 1em;
  border-radius: 1em;
  text-align: center;
}
.qr-card__image {
  border-radius: 1em;
  margin-bottom: 1.25em;
}
.text-wrapper {
  width: 300px;
  margin: 0 auto;
}
.qr-card__title {
  font-weight: 700;
  margin-bottom: 0.5em;
}
.qr-card__text {
  color: var(--Grayishblue);
  font-weight: 400;
  margin-bottom: 1em;
}

.attribution {
  margin-top: 10em;
  text-align: center;
}
